name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    #  Modificaci贸n: Asegurar que gradlew tenga permisos correctamente
    - name: Change Gradle Wrapper permissions
      run: chmod +x ./gradlew
      working-directory: ${{ github.workspace }}

    #  Modificaci贸n: Agregar --stacktrace para ver m谩s detalles en caso de fallos
    - name: Run Tests with Gradle
      run: ./gradlew test --stacktrace

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    #  Modificaci贸n: Unificar la versi贸n de JDK en ambos jobs (ahora ambos usan JDK 21)
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
